@using MagicDeckStats.Services
@inject IBGStatsImportService BGStatsService
@inject IGlobalFilterService GlobalFilterService

<nav class="nav-bar-links">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All" title="Dashboard">
        <span class="bi bi-bar-chart-fill" aria-hidden="true"></span><span class="nav-text">Dashboard</span>
    </NavLink>
    <NavLink class="nav-link" href="plays" title="All Plays">
        <span class="bi bi-list-ul" aria-hidden="true"></span><span class="nav-text">All Plays</span>
    </NavLink>
    <NavLink class="nav-link" href="players" title="Players">
        <span class="bi bi-people-fill" aria-hidden="true"></span><span class="nav-text">Players</span>
    </NavLink>
    <NavLink class="nav-link" href="decks" title="Decks">
        <span class="bi bi-stack" aria-hidden="true"></span><span class="nav-text">Decks</span>
    </NavLink>
    <NavLink class="nav-link" href="duration" title="Duration">
        <span class="bi bi-clock" aria-hidden="true"></span><span class="nav-text">Duration</span>
    </NavLink>
    <NavLink class="nav-link" href="import-export" title="Import / Export">
        <span class="bi bi-arrow-left-right" aria-hidden="true"></span><span class="nav-text">Import / Export</span>
    </NavLink>
    <NavLink class="nav-link" href="tools" title="Tools">
        <span class="bi bi-tools" aria-hidden="true"></span><span class="nav-text">Tools</span>
    </NavLink>
</nav>
